<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/general.css' %}" />

    <title>Универсальный рынок</title>
</head>
<body>
    <div class="header">
        <a><div class="header_item"><span class="header_text">Торговые центры</span></div></a>
        <a><div class="header_item"><span>Торговые центры</span></div></a>
        <a><div class="header_item"><span>Торговые центры</span></div></a>
        <a><div class="header_item"><span>Торговые центры</span></div></a>
        <a><div class="header_item"><span>Торговые центры</span></div></a>
        <a><div class="header_item"><span>Торговые центры</span></div></a>
    </div>
    <div class="banner">

    </div>
    <div class="block about">
        <div class="title"><span>О нас</span></div>
        <div class="about_description">
            Тут блок о нас
        </div>
    </div>
    <div class="block latest_news">
        <div class="title"><span>Последние новости</span></div>
        <div class="latest_news_elements">
            <div class="news_element">
                <div class="news_element_image"><img src="static/images/NewImages/None/Den-Rozhdeniya-rebenka-gde-priobretat-podarki-dlya-svoih-ma_x5Y4geK.png"></div>
                <div class="news_element_text">
                    <div class="news_element_text_title"><span>Новость 1</span></div>
                    <div class="news_element_text_description"><span></span></div>
                </div>
            </div>
        </div>
        <div class="button_block">
            <button class="button button_inactive">Смотреть все новости</button>
        </div>
    </div>
</body>
</html>