<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>Универсальный рынок</title>
</head>
<body>
    <div class="header">
        <a><div class="header_item"><span>Торговые центры</span></div></a>
        <a><div class="header_item"><span>Торговые центры</span></div></a>
        <a><div class="header_item"><span>Торговые центры</span></div></a>
        <a><div class="header_item"><span>Торговые центры</span></div></a>
        <div class="header_item"><div>Время</div><div>Работы</div></div>
        <div class="header_item"><div>Номер<div>Соцсети</div></div><div>Адрес</div></div>
    </div>
</body>
</html>