:root{
    --col1: hsla(71,70%,25%,1);
    --col2: hsla(63,34%,50%,1);
    --col3: hsl(2, 63%, 36%);
    --col4: hsla(33,69%,87%,1);
    --col5: hsla(34,43%,49%,1);
    --T1: 20px;
    --T2: 40px;

}
body{
    margin: 0px;
    padding: 0px;
}
.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    height: 100px;
    background-color: rgba(113,113,113,0.5);
    font-size: var(--T1);
}


.header_item{
    width: 100%;
    height: 60%;
    color: var(--col1);
}

.header_item:after{
    display: block;
    content: "";
    height: 1px;
    width: 80%;
    margin: 0 auto;
    background-color: var(--col1);
    transition: width 0.3s ease-in-out;
    left: 50%;
    bottom: 0;
}

.banner{
    width: 80%;
    height: 400px;
    margin: 0 auto;
    background-color: rgba(100,100,100,0.4);
}

.title{
    width: 100%;
    height: 80px;
    color: var(--col1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title span{
    font-size: var(--T2);
    width: 100%;
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid var(--col1);
}



.block{
    width: 80%;
    margin: 0 auto;
    height: max-content;
    border: 0px solid gray;<!---->
}

.button_inactive{
    color: var(--col1);
    font-size: var(--T1);
    border: 1px solid var(--col1);
    background-color: white;
    width: 300px;
    height: 50px;
    border-radius: 10px;
}

.button_inactive{
    color: white;
    font-size: var(--T1);
    border: 1px solid var(--col1);
    background-color: var(--col1);
    width: 300px;
    height: 50px;
    border-radius: 10px;
}
